@import "tailwindcss";
@layer {
  @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
}

/* Now your normal CSS below */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  font-family: "Roboto", sans-serif;
}

/* other styles... */

.animate-marquee {
  animation: marquee 25s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
